@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

/*
  primaryColor : #21B573
cardBg: #F8FFFB

footerColor: #282531
bannerBg: F0FFF0
*/

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-TxtColor: #000000;
  --color-PrimaryColor: #21b573;
  --color-CardBg: #f8fffb;
  --color-OffWhite: #c4c4c4;
  --color-FooterColor: #282531;
  --color-BannerBg: #f0fff0;
}
:root {
  font-family: var(--font-poppins);
  color: var(--color-TxtColor);
  background-color: var(--color-CardBg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
}
